[Unit]
Description=Start Plasma Wayland
After=network.target display-manager.service
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
Type=simple
User=1000
PAMName=login

EnvironmentFile=-/etc/environment
ExecStart=/bin/bash -lc 'startplasma-wayland'
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target
